<h1 class="title">{{title | titlecase}}</h1>
<header class="header">
  <nav class="header__nav">
    <ul class="header__ul">
      <li ><a class="header__ul-li" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a></li>
      <li ><a class="header__ul-li" routerLink="/product" routerLinkActive="active">Каталог</a></li>
      <li ><a class="header__ul-li" routerLink="/about" routerLinkActive="active">О нас</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  @КОпипасТ
</footer>

